/* Seleciona o box da declaração (renomeado para não conflitar com login) */
.gift-box, .input-mensagem {
  background-color: rgb(164, 21, 21) !important;
  box-shadow: 0px 10px 15px rgba(255, 255, 255, 0.3) !important;

  /* --- EDITE AS BORDAS AQUI --- */
  border: 3px solid transparent!important; 
  border-radius: 40px !important;       
  
  /* Adiciona um espaçamento interno para o conteúdo não encostar na borda */
  padding: 30px !important;
}

/* Garante que o fundo da página não tenha bordas brancas e use o seu vermelho */
.container-geral {
  background: rgb(164, 21, 21) !important;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}