* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, rgb(255, 0, 13) 0%, rgba(160, 64, 64, 0.8) 100%);

}
.trash-icon {
  width: 20px !important;
  height: auto !important;
  
}body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  /* O mesmo degradê que você usou no login */
  background: linear-gradient(170deg, #ff0008 0%, #b24a4a 100%); 
  font-family: 'Poppins', sans-serif;
}